@import "mixins";

.header-content {
  min-height: 335px;
  color: $main-black;
  margin: 117px 0 0 0;
  padding: 0 0 13% 0;
  &__header {
    font-weight: 700;
    @include adaptive-font(54,26);
    line-height: 1.5;

  }
  &__descr {
    margin: 35px 0 0 0 ;
    font-weight: 400;
    @include adaptive-font(32,14);
    line-height: 2;
    max-width: 66%;
    color: #4f4f4f;
  }
  &__contact {
    display: flex;
    justify-content: center;
    margin: 5% 0 0 0;
    padding: 2.7% 5% !important;
    min-height: 50px;
    min-width: 150px;
    @include adaptive-font(24,14);
    line-height: 24px;
    font-weight: 400;
    outline: none;
    border: none;
  }
}