@import "mixins";

.header {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  align-content: center;
  height: 80px;
  position: sticky;
  top: 58px;
  z-index: 999;
  background: rgba(255,255,255,0);
  box-shadow: 0 10px 10px rgba(0,0,0,0);
  transition: background .2s ease, top .2s ease, height .2s linear, box-shadow .2s linear, border-radius .2s ease;
  border-radius: 20px;
  &_active {
    height: 70px;
    top: -1px;
    background: rgba(255,255,255,1);
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
    border-radius: 0 0 20px 20px;
  }
  &__logo {
    display: block;
    /*max-width: 173px;*/
    height: 58px;
    text-decoration: none;
    color: $main-black;
    font-weight: 700;
    font-size: 24px;
    img {
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
    &:hover {
      color: $main-black;
    }
  }
  &__text {
    display: inline-block;
    margin: 0 0 0 25px;
  }
  &__navigation {
    position: relative;
    transition: top 0.2s;
    height: 100%;
    &_active {
      top: 0 !important;
    }
  }
  &__ul {
    display: flex;
    margin: 0;
    padding: 0;
    /*max-width: 380px;*/
    height: 100%;
    list-style-type: none;
  }
  &__li {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__link {
    color: $main-black;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    padding: 6.5px 18.5px;
    transition: background .3s ease, color .3s ease;
    border-radius: .3rem;
    &:hover {
      color: $main-color;
    }
    &_active {
      background: $main-color;
      color: #ffffff;
      &:hover {
        color: #ffffff;
      }
    }
  }
  &__menu {
    display: none;
    width: 25px;
    height: 25px;
    background: url("../icons/bars-solid.svg") center (center/cover) no-repeat;
    cursor: pointer;
    outline: none;
    border: none;
  }
  &__close {
    display: none;
    position: absolute;
    top: 61px;
    right: 20px;
    outline: none;
    border: none;
    width: 25px;
    height: 25px;
    background: url("../icons/times-solid.svg") center (center/cover) no-repeat;
  }
}

