.page {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  background: rgba(255,255,255,0);
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  &__footer {
    padding: 0 0 0 20px;
    height: 100%;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

hr {
  margin: 0 !important;
}

body {
  font-family: 'Ubuntu', serif !important;
  background: #000000 url("../img/circles.svg") center (0/cover) no-repeat;
}

@import "fonts";
@import "header";
@import "mixins";
@import "reboot";
@import "header-content";
@import "services";
@import "clients";
@import "team";
@import "footer";
@import "media";
@import "popUp";
@import "grid";